{% extends 'layout.html' %}
{% block body %}
    <form action="{{ url_for('entry_api.acted_entry') }}" method="POST">
        <h3>Add a New Actor - Movie Role:</h3>
        <p>Note: will fail if MID, UID combination already exists.</p>
        <p>MID - movie id (of movie that this actor had a role in)</p>
        <input type="number" name="mid"/>
        <p>UID - actor who played this roll</p>
        <input type="number" name="uid"/>
        <p>character_role - name of the role played by this actor in this movie</p>
        <input type="text" name="character_role"/>
        <p>Add Role: <input type="submit" value="Submit"/></p>
        {% if message is not none %}
            <p>Result: {{ message }}</p>
        {% endif %}
    </form>
{% endblock %}
