<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Entry - Index</title>
</head>
<body>
<table>
    <tr>
        <td><a href="/entry/user">USER</a></td>
        <td><u>UID</u>, u_name, email, created_date</td>
    </tr>
    <tr>
        <td><a href="/entry/admin">ADMIN</a></td>
        <td><u>UID</u>, position</td>
    </tr>
    <tr>
        <td><a href="/entry/director">DIRECTOR</a></td>
        <TD><u>UID</u>, famous_for_MID, given_name, DoB</TD>
    </tr>
    <tr>
        <td><a href="/entry/actor">ACTOR</a></td>
        <td><u>UID</u>, stage_name, given_name, DoB</td>
    </tr>
    <tr>
        <td><a href="/entry/movie">MOVIE</a></td>
        <td><u>MID</u>, director_UID, title, release_date, entered_by, entered_date</td>
    </tr>
    <tr>
        <td><a href="/entry/review">REVIEW</a></td>
        <td><u>MID, UID</u>, text, rating, created_date</td>
    </tr>
    <tr>
        <td><a href="/entry/acted_in">ACTED_IN</a></td>
        <td><u>MID, UID</u>, character_role</td>
    </tr>
    <tr>
        <td><a href="/entry/poster">POSTER</a></td>
        <td><u>MID</u>, img</td>
    </tr>
</table>
</body>
</html>