{% extends 'layout.html' %}
{% block body %}
    <form action="{{ url_for('entry_api.poster_entry') }}" method="POST" enctype=multipart/form-data>
        <h3>Upload a Poster:</h3>
        <p>MID - id of movie whose poster is being uploaded</p>
        <select name="mid">
            {% for movie in movies %}
                <option value="{{ movie[0] }}">{{ movie[0] }} - {{ movie[1] }}</option>
            {% endfor %}
        </select>
        <p>img - image file containing poster</p>
        <input type=file name=img>
        <p>Upload Poster: <input type="submit" value="Upload"/></p>
        {% if message is not none %}
            <p>Result: {{ message }}</p>
        {% endif %}
        {% if image_name is not none %}
            <img src="{{ url_for('static', filename='posters/' + image_name) }}" alt="poster" />
        {% endif %}
    </form>
{% endblock %}
