{% extends 'layout.html' %}
{% block body %}
    <form action="{{ url_for('entry_api.review_entry') }}" method="POST">
        <h3>Add a New Review:</h3>
        <p>Note: will fail if MID, UID combination already exists.</p>
        <p>MID - movie id (of movie being reviewed)</p>
        <input type="number" name="mid"/>
        <p>UID - user who is making this review</p>
        <input type="number" name="uid"/>
        <p>text - review text (must contain only alphanumeric characters and punctuation)</p>
        <input type="text" name="text"/>
        <p>rating - rating (from 0 to 5) for this review</p>
        <input type="number" name="rating" min="0" max="5"/>
        <p>Add Review: <input type="submit" value="Submit"/></p>
        {% if message is not none %}
            <p>Result: {{ message }}</p>
        {% endif %}
    </form>
{% endblock %}
