{% extends 'layout.html' %}
{% block body %}
    <h3>Search for a movie's average rating</h3>

    <form action="{{ url_for('search_api.search_rating') }}" method="POST">
        <p>Enter part of a movie name:</p>
        <input type="text" class="searchTerm" name="movie" placeholder="Type in the movie name you want to search">
        <input type="submit" value="Search"/>
    </form>

    <table>
        {% for data in row %}
            <tr>
                <td><a href="{{ url_for('view_movie', mid=data[0]) }}">{{ data[1] }}</a></td>
                <td>{{ data[2] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
