<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YMDB - Search Movies</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/searchPageStyle.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
        <body>
            <div class="wrap">
                <h2 align="center"> Saerch user's user name from given email address</address></h2> 
                <div class="search">
                    <form action = "url_for('director')}} method" = "POST">
                        <input type="text" class="searchTerm" name="email" placeholder="Type in the user's email address">
                        <button type="submit" class="searchButton">
                                <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <p> {{userName}}
            </div>            
        </form>
</body>
<script> 
</script>
</html>
