{% extends 'layout.html' %}
{% block body %}
    <h2>Table of Reviews</h2>
    <p>This table lists the Movie ID, User ID, Review, Rating, and Date Created for each Review.</p>

    {{ pagination.info }}
    {{ pagination.links }}

    <table border=1>
        <thead>
        <td>MID</td>
        <td>UID</td>
        <td>Text</td>
        <td>Rating</td>
        <td>Created Date</td>
        </thead>

        {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ time(row[4]) }}</td>
            </tr>
        {% endfor %}
    </table>
    {{ pagination.links }}

    <a href="/">Go back to home page</a>

{% endblock %}