<!DOCTYPE html><!doctype html>
<html>
   <body>

      <table border = 1>
         <thead>
            <td>MID</td>
            <td>UID</td>
            <td>Text</td>
            <td>Rating</td>
            <td>Created Date</td>
         </thead>

         {% for row in rows %}
            <tr>
               <td>{{row["MID"]}}</td>
               <td>{{row["UID"]}}</td>
               <td> {{ row["text"]}}</td>
               <td>{{row["rating"]}}</td>
                <td>{{row["created_date"]}}</td>
            </tr>
         {% endfor %}
      </table>

      <a href = "/">Go back to home page</a>

   </body>
</html>