{% extends 'layout.html' %}
{% block body %}
    <h2>Table of Directors</h2>
    <p>This table lists the User ID, Movie that made them famous, Given Name, and Birthday for each Director.</p>

    {{ pagination.info }}
    {{ pagination.links }}

    <table border=1>
        <thead>
        <td>UID</td>
        <td>Famous For MID</td>
        <td>Given Name</td>
        <td>Date of Birth</td>
        </thead>

        {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ time(row[3]) }}</td>
            </tr>
        {% endfor %}
    </table>
    {{ pagination.links }}

    <a href="/">Go back to home page</a>

{% endblock %}