{% extends 'layout.html' %}
{% block body %}
    <h2>Table of Users</h2>
    <p>This table lists the User ID, Username, Email, and Date Created for each User.</p>
    {{ pagination.info }}
    {{ pagination.links }}

    <table border=1>
        <thead>
        <td>UID</td>
        <td>Name</td>
        <td>Email</td>
        <td>Created Date</td>
        </thead>

        {% for row in rows %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ time(row[3]) }}</td>
            </tr>
        {% endfor %}
    </table>
    {{ pagination.links }}

{% endblock %}