{% extends 'layout.html' %}
{% block body %}
    <h2>Browsing</h2>
    <p>Click on any table name to begin browsing all the tuples</p>
    <table>
        <tr>
            <td><a href="{{ url_for('browse_api.browse_user') }}">USER</a></td>
            <td><u>UID</u>, u_name, email, created_date</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('browse_api.browse_admin') }}">ADMIN</a></td>
            <td><u>UID</u>, position</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('browse_api.browse_director') }}">DIRECTOR</a></td>
            <TD><u>UID</u>, famous_for_MID, given_name, DoB</TD>
        </tr>
        <tr>
            <td><a href="{{ url_for('browse_api.browse_actor') }}">ACTOR</a></td>
            <td><u>UID</u>, stage_name, given_name, DoB</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('browse_api.browse_movie') }}">MOVIE</a></td>
            <td><u>MID</u>, director_UID, title, release_date, entered_by, entered_date</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('browse_api.browse_review') }}">REVIEW</a></td>
            <td><u>MID, UID</u>, text, rating, created_date</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('browse_api.browse_acted_in') }}">ACTED_IN</a></td>
            <td><u>MID, UID</u>, character_role</td>
        </tr>
        <tr>
            <td><a href="{{ url_for('browse_api.browse_user') }}">POSTER</a></td>
            <td><u>MID</u>, img</td>
        </tr>
    </table>
{% endblock %}