<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YMDB - Home</title>
</head>
<body>
<h1>CS 564 - Your Movie Database</h1>
<p>This is a web interface to project database: Your Movie Database (YMDB). It contains information on movies, actors,
    directors, and user reviews. Here is the schema for the underlying database:</p>
<table>
    <tr>
        <td>USER</td>
        <td><u>UID</u>, u_name, email, created_date</td>
    </tr>
    <tr>
        <td>ADMIN</td>
        <td><u>UID</u>, position</td>
    </tr>
    <tr>
        <td>DIRECTOR</td>
        <TD><u>UID</u>, famous_for_MID, given_name, DoB</TD>
    </tr>
    <tr>
        <td>ACTOR</td>
        <td><u>UID</u>, stage_name, given_name, DoB</td>
    </tr>
    <tr>
        <td>MOVIE</td>
        <td><u>MID</u>, director_UID, title, release_date, entered_by, entered_date</td>
    </tr>
    <tr>
        <td>REVIEW</td>
        <td><u>MID, UID</u>, text, rating, created_date</td>
    </tr>
    <tr>
        <td>ACTED_IN</td>
        <td><u>MID, UID</u>, character_role</td>
    </tr>
</table>
<p><a href="/movies">Search Movies</a></p>
</body>
</html>
