<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YMDB - Search Movies</title>
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

        
        <body>




            
        <h2 align="center"> Saerch a Movies's average rating </h2> 

        <form action = "" method = "POST">
            <div class="wrap">
                <div class="search">
                    <input type="text" class="searchTerm" name="movie" placeholder="Type in the movie you want to search">
                    <button type="submit" class="searchButton">
                            <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>            
        </form>
        

{{ movies }}
</body>


<script> 

</script>


</html>
